# Qn 2

In [2]:
2+5

7

In [3]:
2 + 5

7

In [4]:
2*5

10

In [90]:
2/5

0.4

True (floating point) division

In [6]:
2**5

32

In [7]:
2 // 5

0

Integar divison

# Qn 3

In [13]:
a = 2
type(a)

int

In [16]:
b = 2.0
type(b)

float

In [19]:
c = '2.0'
type(c)

str

In [18]:
d = [2]
type(d)

list

In [20]:
e = [2, "2", 2.0]
type(e)

list

# Qn 4

In [25]:
x = 7
x = x + 3
print(x)

10

# Qn 5

In [92]:
x = 3
y = x
print(x,y)

3 3

# Qn 6

In [93]:
x = 3
x = x / 2
y = 'abc'
z = y + y
print(x,z)

1.5 abcabc

# Qn 7

In [33]:
x = 3
x = x / 2
y = 'abc'
z = x + y
print(x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Error from concatenating float and string types

# Qn 8

In [81]:
len([1234])

1

In [38]:
len("1234")

4

In [80]:
len(1234)

TypeError: object of type 'int' has no len()

An int type has no length ...

In [40]:
len([1,2,3]+['a','b','c'])

6

# Qn 9

In [133]:
x = 1234
print(float(x))
print(str(x))
print(list(map(int, str(x))))
print([int(x) for x in str(x)])
[str(x) for x in str(x)]

1234.0
1234
[1, 2, 3, 4]
[1, 2, 3, 4]

['1', '2', '3', '4']

In [134]:
print(list(map(str, str(x))))

['1', '2', '3', '4']

# Qn 10

In [129]:
x = "How many characters and words are in this string?"
print(len(x), "chars")
print(len(str(x).split(" ")), "words")
print(list(map(str, str(x))))
type(x)
print(str.split(x))
x.count("a")

49 chars
9 words
['H', 'o', 'w', ' ', 'm', 'a', 'n', 'y', ' ', 'c', 'h', 'a', 'r', 'a', 'c', 't', 'e', 'r', 's', ' ', 'a', 'n', 'd', ' ', 'w', 'o', 'r', 'd', 's', ' ', 'a', 'r', 'e', ' ', 'i', 'n', ' ', 't', 'h', 'i', 's', ' ', 's', 't', 'r', 'i', 'n', 'g', '?']
['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

5

Convert string to indiv characters

# Qn 11

In [70]:
import math as math
pi = math.pi
width = 5
length = 12.5
radius = 2.5
area_sq = width * length
area_ci = pi * radius ** 2
print(area_sq)
print(area_ci)

62.5
19.634954084936208

In [56]:
int(length)

12

int() converts a variable of type into an integar

In [55]:
str(length).split('.')

['12', '5']

str().split() splits a variable by parameter '.' and outputs as string

# Qn 12

In [108]:
def volume(radius):
    volume = 4 / 3 * math.pi * radius ** 3
    print(volume)

In [109]:
volume(5)

523.5987755982989